{% extends 'base.html.twig' %}

{% block title %}New Offer{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>Créer une nouvelle offre</h1>
    <div class="container">
        {{ include('offer/_form.html.twig',{'button_label': 'Mettre en ligne'}) }}
    </div>
{% endblock %}
