.student2 {
  background: white;
  box-shadow: 3px 3px 6px -1px #808080;}

#home {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cardStudent {
  box-shadow: 3px 3px 6px -1px #808080;}

.studentName {
  padding:10px;
}

td .btn {
  margin-bottom: 10px;
}

.editStudent {
  padding: 20px;
  background-color: white;
  box-shadow: 3px 3px 6px -1px #808080;}

#myTab a {
  box-shadow: 3px 3px 6px -1px #808080;}

#myTab a:hover {
  box-shadow: 3px 3px 6px -1px #808080;
  color: $orange;
}

.experience {
  background-color: white;
}