<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.instagram.com/wwj_worldwidejob/"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/WWJ09219206"><i class="fab fa-twitter"></i></a>
        </div>
        <a href="#" class="legal_mentions">Mentions légales</a>
    </footer>
</div>