<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue sur le site World Wide Job !{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% include '_navbar.html.twig' %}
{% include 'flash.html.twig' %}
<div class="wrapper">
{% block body %}{% endblock %}
    <div class="push"></div>
</div>
<div class="footer">
{% include '_footer.html.twig' %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
