{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class = "container">
    <h1>Modifier l'expérience</h1>

    {{ include('experience/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


</div>